<section class="container">
  <div class="col-md-12">
    <div class="card">

      <svg
        xmlns="http://www.w3.org/2000/svg"
        data-name="Layer 1"
        viewBox="0 0 128 160" x="0px" y="0px"
        class="profile-img-card">
        <path d="M102.76489,32.23059A17.26581,17.26581,0,0,0,86.84,15.098a25.01553,25.01553,0,0,0-45.94061.02185,17.18632,17.18632,0,0,0,1.04449,34.29846v1.18982L40.07147,58.014a4.01882,4.01882,0,0,0,.71436,3.44122,3.93449,3.93449,0,0,0,.36768.37744c-.00244.05652-.01483.11017-.01483.16736v5a22.86175,22.86175,0,1,0,45.72266,0V62a3.86347,3.86347,0,0,0-.03888-.39868c.04462-.052.10022-.09155.1424-.14612A4.01922,4.01922,0,0,0,87.6792,58.014l-1.87238-7.40588V49.4248A17.27785,17.27785,0,0,0,102.76489,32.23059ZM82.88544,67a18.88578,18.88578,0,1,1-37.77087,0V63H82.88544ZM43.92462,59l1.546-6.11475c.20129.069,36.69635.09967,36.82776.07214L83.826,59ZM85.442,45.42859a13.18559,13.18559,0,0,1-3.611-.49323V49H46.10852c-.0647,0-.12567.01312-.18878.01917V45.00439a13.54455,13.54455,0,0,1-3.3717.42419,13.1938,13.1938,0,1,1,0-26.386c.389,0,.77814.01971,1.15717.04932a21.02067,21.02067,0,0,1,40.34027.01971,13.10737,13.10737,0,0,1,1.39648-.069,13.19391,13.19391,0,1,1,0,26.386Z"/>
        <path d="M101.588,100.72754A15.89949,15.89949,0,0,0,88.6275,94H39.3725A15.89949,15.89949,0,0,0,26.412,100.72754L9.368,124.84082a2.00805,2.00805,0,0,0,.4679,2.78906,1.98082,1.98082,0,0,0,2.77222-.4707L29.65216,103.0459A11.92406,11.92406,0,0,1,39.3725,98h49.255a11.80429,11.80429,0,0,1,1.47607.09521,10.90806,10.90806,0,0,1-3.52618,8.63818C74.642,117.833,37.89661,111.10254,37.52728,111.03418a1.972,1.972,0,0,0-1.63464.42773A2.0036,2.0036,0,0,0,35.17487,113v13a1.988,1.988,0,1,0,3.97589,0V115.36523c8.67926,1.37109,38.48914,5.126,50.12415-5.69238a14.68672,14.68672,0,0,0,4.76141-10.36127,11.93913,11.93913,0,0,1,4.31152,3.73431l17.04407,24.11328a1.98008,1.98008,0,0,0,2.77222.4707,2.00805,2.00805,0,0,0,.4679-2.78906Z"/>
        <ellipse cx="45.11455" cy="122" rx="1.98795" ry="2"/>
        <path d="M54.47333,77.78809c1.457.50977,3.14691.10547,5.02032-1.20312,1.17841-.82324,2.103-.77734,2.72516.11328a1.98451,1.98451,0,0,0,1.66956.91406h.22327a2.061,2.061,0,0,0,1.65015-.88477c.64258-.91895,1.56519-.96582,2.74457-.14258a6.70229,6.70229,0,0,0,3.74536,1.417,3.73158,3.73158,0,0,0,3.59052-2.61621A1.98892,1.98892,0,0,0,72.127,73.98438a3.90743,3.90743,0,0,1-1.35309-.68457,6.087,6.087,0,0,0-4.75439-1.2002A5.41038,5.41038,0,0,0,64,72.96387a5.41038,5.41038,0,0,0-2.01947-.86426,6.08913,6.08913,0,0,0-4.75439,1.2002,3.90743,3.90743,0,0,1-1.35309.68457,1.98892,1.98892,0,0,0-3.71527,1.40137A3.79762,3.79762,0,0,0,54.47333,77.78809Z"/>
      </svg>


      <div *ngIf="!ingredients">
        <mat-spinner class="profile-img-card" color="warn" diameter="50"></mat-spinner>
      </div>

      <div *ngIf="ingredients">
        <h5>Ingredients</h5>
        <mat-accordion hideToggle>
          <mat-expansion-panel *ngFor="let ingredient of ingredients">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <H5>{{ingredient.name}}</H5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Base Unit : {{ingredient.baseUnit}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
      <div class="card">
        <div #alert class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertForm == 1">
          <strong>Invalid Form</strong>
        </div>
        <h5>Add Ingredient</h5>
        <form action="" class="d-flex flex-column" [formGroup]="addIngredientForm" (ngSubmit)="onSubmitaddIngredient()">
          <input type="text" placeholder="Name" class="border mb-4 py-2 px-2" formControlName="name">
          <select class="border  mb-4 py-2 px-2" formControlName="baseUnit" >
            <option value="" disabled>Base Unit</option>
            <option *ngFor="let state of baseUnit" [ngValue]="state">
              {{ state.name }}
            </option>
          </select>

          <div class="d-flex justify-content-around">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="reset">Reset</button>
          </div>
        </form>
      </div>
    <div class="card">
      <div #alert class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertForm == 2">
        <strong>Invalid Form</strong>
      </div>
      <div #alert class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertForm == 5">
        <strong>Ingredient Not Found</strong>
      </div>
      <h5>Search Ingredient By Name</h5>
      <form action="" class="d-flex flex-column" [formGroup]="searchIngredientForm" (ngSubmit)="onSubmitSearchIngredient()">
        <input type="text" placeholder="Name" class="border mb-4 py-2 px-2" formControlName="name">
        <div class="d-flex justify-content-around">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button color="warn" type="reset">Reset</button>
        </div>
      </form>
      <mat-list role="list" *ngIf="ingredientSearch"> Ingredient :
        <mat-list-item role="listitem">Name : {{ingredientSearch.name}}</mat-list-item>
        <mat-list-item role="listitem">Base Unit : {{ingredientSearch.baseUnit}}</mat-list-item>
      </mat-list>
    </div>
  </div>
</section>
