<div id="app">
  <nav class="menu-bar navbar navbar-expand navbar-dark">
    <a href="#" class="navbar-brand">SpringCook</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/mealdb" class="nav-link" routerLink="mealdb">MealDB</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/stock" class="nav-link" routerLink="stock">Stock</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/stock" class="nav-link" routerLink="ingredient">Ingredients</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/stock" class="nav-link" routerLink="recipe">Recipes</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
