<label *ngIf="allIngredients"> All ingredients :
  <mat-select [(ngModel)]="ingredientToAdd">
    <mat-option *ngFor="let ingredient of allIngredients" value="{{ingredient.name}}">{{ingredient.name}}</mat-option>
  </mat-select>
  <input matInput type="number" min="1" [(ngModel)]="quantityToAdd" value="1">
  <button mat-raised-button *ngIf="ingredientToAdd" [mat-dialog-close]="data.recipe" (click)="addIngredientToRecipe()">
    {{addingIngredient?'Adding ingredient...':'Add'}}
  </button>
</label>
<mat-spinner *ngIf="!allIngredients" class="profile-img-card" color="warn" diameter="50"></mat-spinner>
