.center-mealdb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
textarea{
  resize: none;
  height: auto;
  scroll-behavior: auto;
}
img {
  display: block;
  max-width:270px;
  max-height:110px;
  width: auto;
  height: auto;
  margin: 0 auto;
}
.ingredients-textarea{
  height: 160px;
}
.instructions-textarea{
  height: 347px;
}
